@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Encode Sans Expanded', sans-serif;
}

#loom-companion-mv3 {
  width: 0;
  height: 0;
}

.app-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  z-index: 1040;
  /* Adjust this value to ensure it doesn't overlap the sidebar */
}


.overlay-visible {
  display: block;
  /* or flex, depending on your layout */
}


/* Position the toast container */
.toast-container {
  position: fixed;
  top: 1rem;
  /* Adjust as necessary */
  right: 1rem;
  /* Adjust as necessary */
  z-index: 9999;
  /* Ensure it's above other elements */
}

/* Style individual toasts */
.toast {
  min-width: 250px;
  max-width: 300px;
  border-radius: 8px;
  background: #fff;
  /* White background */
  color: #333;
  /* Dark text color */
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  display: flex;
  /* For flexbox alignment */
  align-items: center;
  justify-content: center;
  gap: 12px;
  /* Spacing between icon and text */
}


.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 10;
  /* background: transparent; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Cart Sidebar styles */
.cart-sidebar {
  position: fixed;
  top: 0;
  right: -450px;
  /* Increased from -100% to ensure it's fully off-screen */
  width: 450px;
  height: 100vh;
  /* Use 100vh for full height */
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, .5);
  padding: 15px;
  transition: right 0.3s ease-in-out;
  z-index: 1050;
  /* Ensure it's above other content */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* In case of scrolling */
}

.cart-sidebar-visible {
  right: 0;
  /* This will slide the sidebar into view */
}

.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.cart-header h2 {
  display: flex;
  align-items: center;
}

.close-icon {
  cursor: pointer;
  width: 24px;
  align-self: flex-end;
  /* background-color: blue; */
  /* Position the close icon to the right */
}

.cart-items {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  /* background-color: red; */
}

.cart-item {
  display: flex;
  align-items: center;
  /* Aligns items vertically */
  margin-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
  /* background-color: red; */
  height: auto;

}

.cart-item-image {
  width: 120px;
  /* Size adjusted to match the image */
  height: 120px;
  object-fit: cover;
  margin-right: 10px;
  border: 1px solid #e0e0e0;
  /* Assuming there's a border */
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  height: auto;
  /* width: auto; */
}

.cart-item-details p {
  margin: 0;
  /* Removes default margins */
  padding: 2px 0;
  /* Adjust padding as needed */
  font-size: 14px;
  /* Adjust font size to match the image */
  color: #333;
  /* Font color for better readability */
}

/* Assuming the first <p> tag is the product title and needs to stand out */
.cart-item-details p:first-child {
  font-weight: bold;
  /* Makes the first <p> element bold */
  color: #000;
  /* Optional: Makes the title black */
}

/* Styles for size, quantity, and price */
.cart-item-details p:not(:first-child) {
  color: #555;
  /* Lighter text color for less emphasis */
  font-size: 12px;
  /* Smaller font size */
}

#cart-price {
  font-weight: bold;
  font-size: 15px;
}

/* Additional styles if needed */
.cart-item-details p:nth-child(2) {
  color: #555;
  /* Color for the size text */
}

.cart-item-details p:nth-child(3) {
  color: #555;
  /* Color for the quantity text */
}

.cart-item-details p:last-child {
  color: #555;
  /* Color for the price text */
}

.cart-item-btns {
  display: flex;
  align-items: center;
  gap: 20px;
  /* background-color: red; */
  width: 100%;
}

.cart-quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: darkgoldenrod; */
  width: 130px;
  height: 37PX;
  border: 0.5px solid lightgray;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cart-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cart-switch-ctrl {
  color: rgb(0, 0, 0);
  height: 10px;
  /* width: 10px;
  background-color: red; */
}

.cart-switch-ctrl:hover {
  color: black;
  cursor: pointer;
  transition: 0.15s;
}

#cart-qtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: 200;
}

.remove-item {
  text-decoration: underline;
  display: flex;
}

/* The checkout button */
.checkout-button {
  height: auto;
  width: calc(100% - 40px);
  background-color: #11873b;
  /* Green background */
  color: white;
  padding: 15px 20px;
  /* Space above the button */
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  /* Larger font size for readability */
  align-self: center;
  margin-bottom: 20px;
}

.checkout-button:hover {
  padding: 15px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s ease;
  align-self: center;
  /* Center the button in the sidebar */

  /* Full width minus padding */
}




.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 2100px;
  width: 100%;
  padding: 0 20px;
  /* Add padding to the left and right */
  box-sizing: border-box;
  /* Include padding in the width calculation */
}

.logo {
  width: 180px;
  height: 30px;
  cursor: pointer;
}

.nav_menu {
  display: flex;
  gap: 100px;
  width: auto;
}


.nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}


.nav_item:hover {
  cursor: pointer;
  /* border-bottom: 3px solid rgb(1, 191, 113); */
}

.activate {
  border-bottom: 3px solid rgb(1, 191, 113);
}

.user_controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  /* background-color: red; */
}

.btn {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  background: #01bf71;
}

.btn:hover {
  transition: all 0.2s ease-in-out;
  background: #ffffff;
}

#nav_btn {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 110px;
  color: #010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;

}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(rgba(0, 0, 0, 0.2) 0%, transparent 100%);
}

/* HERO */

.hero {
  background: indigo;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  position: relative;
  z-index: 1;
  color: white;
}

.video {
  object-fit: cover;
  overflow: clip;
  /* background-color: red; */
}

.hero_content {
  /* background-color: orange; */
  position: absolute;
  z-index: 3;
  max-width: 1200px;
  height: 200px;
  position: absolute;
  /* padding: 8px 24px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_title {
  /* background-color: yellow; */
  color: #fff;
  font-size: 48px;
  text-align: center;
  height: 200px;

  @media screen and (max-width: 768px) {
    font-size: 40px;
  }

  @media screen and (max-width: 480px) {
    font-size: 32px;
  }
}

.hero_description {
  /* background-color: red; */
  margin-top: 24px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  max-width: 600px;
  height: 200px;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }

  @media screen and (max-width: 480px) {
    font-size: 18px;
  }
}

.btn_wrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero_btn {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 150px;
  color: #010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

/* ABOUT */

.about {
  color: #fff;
  background: #010606;
  display: flex;
  justify-content: center;
  z-index: 1;
  height: 860px;
  width: 100%;
  align-items: center;
  /* border: 1px solid white; */
  gap: 100px;
}

.info {
  /* background-color: #01bf71; */
  max-width: 430px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

.info_title {
  font-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.car {
  max-width: 530px;
  height: 600px;
}

#about_btn {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 160px;
  color: #010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    height: auto;
    padding: 50px 20px;
    gap: 50px;
    text-align: center;
  }

  .info {
    max-width: none;
    height: auto;
  }

  .info_title {
    font-size: 28px;
  }

  .car {
    max-width: 100%;
    height: auto;
  }

  #about_btn {
    height: 60px;
    width: 120px;
    font-size: 14px;
  }
}

/* SERVICES */
.services {
  color: #fff;
  background: #010606;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 560px;
  width: 100%;
  /* border: 1px solid yellow; */
}

.services_title {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.deals {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 670px;
}

.option {
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 200px;
  max-height: 300px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.option:hover {
  cursor: pointer;
  transform: translateY(-60px);
}

.icon {
  height: 160px;
  width: 160px;
  margin-bottom: 10px;
}

.bold_p {
  font-weight: bold;
  font-size: 1rem;
}

/* DISCOVER */

.discover {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  height: 860px;
  /* border: 5px solid yellow; */
}

.discover_wrapper {
  /* border: 5px solid red; */
  z-index: 1;
  height: 760px;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 1100px;
  gap: 20px;
}

.interior {
  max-width: 470px;
  max-height: 550px;
}

.contact_info {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border: 5px solid white;
  height: 40%;
  width: 70%;
}

.contact {
  display: flex;
  align-items: center;
}

.visit {
  align-items: center;
}

/* .location {} */

.learn_btn {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  width: 150px;
  color: white;
  background: #010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.learn_btn:hover {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  background: #01bf71;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 80px;
  background-color: #101522;
  display: flex;
  justify-content: center;
  color: white;
  padding: 48px 24px;
}

.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1100px;

}

.company {
  display: flex;
  align-items: center;
  /* background-color: green; */
  width: 33%;
}

.copyright {
  display: flex;
  align-items: center;
  /* background-color: yellow; */
  width: 33%;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
  height: 60px;
  /* background-color: blue; */
}



.socials_icon {
  color: #fff;
  font-size: 24px;
  width: 24px;
}

.profile_icon {
  color: #fff;
  font-size: 24px;
  width: 25px;
  margin-right: 20px;
  cursor: pointer;
}



.socials_icon:hover {
  transition: all 0.2s ease-in-out;
  color: #01bf71;
}

@media screen and (max-width: 768px) {
  .nav_menu {
    display: none;
  }

  .user_controls {
    gap: 10px;
  }

  .btn {
    font-size: 14px;
    width: 80px;
  }
}